<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.convert.package1"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="2"/>

	<application android:icon="@drawable/mylogo"
		     android:label="@string/myApplicationName">
		<activity android:name="com.convert.package.MyActivity"
			  android:label="@string/myApplicationName">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>

